<include href="src/Template/head.html">
    <body>
        <main>
            <include href="src/Template/header.html"></include>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h4>Login</h4>
                        <form action="/crypto/login" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <include href="src/Template/footer.html"></include>
    </body>
    