<!DOCTYPE html>
<html lang="en">
<include href="src/Template/head.html">

<body>
    <main>
        <include href="src/Template/header.html">
        <div class="container">
            <div class="row">
                <h3>Users</h3> 
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <repeat group="{{ $users }}" value="{{ $user }}">
                            <tr>
                                <td>{{ $user->getId() }}</td>
                                <td><img src="{{ $user->getAvatar() }}"></td>
                                <!-- This is the entry point for the "profile" page view -->
                                <td><a href="profile?user_id={{ $user->getId() }}">{{ $user->getFullName() }}</a></td>
                                <td>{{ $user->getEmail() }}</td>
                            </tr>
                        </repeat>
                    </tbody>
                </table>
                <check if="{{ $users->hasPreviousPage() }}">
                    <a href="users?page={{ $users->previousPage() }}">Previous Page</a>
                </check>                
                <check if="{{ $users->hasNextPage() }}">
                    <a href="users?page={{ $users->nextPage() }}">Next Page</a>
                </check>
            </div>
        </div>
    </main>
    <br><br>

    <include href="src/Template/footer.html">
</body>

</html>